{{ if site.Data.homepage.blog.enable}}
<section id="blog" {{ if site.Data.homepage.blog.overlay }} class="overlay" {{ end }}
  style="background-image: url('{{ site.Data.homepage.blog.bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="heading">{{ site.Data.homepage.blog.title | markdownify }}</h1>
          {{ $paginator := .Paginate site.RegularPages }}
          {{ range first 6 (where site.RegularPages "Type" "in" "blog") }}
          {{ if .Params.Link }}
          <div class="col-lg-6">
            <article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
              <div class="post-img">
                <a href="{{ .Params.Link }}">
                  <img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
                </a>
              </div>
              <div class="post-content">
                <h3><a href="{{ .Params.Link }}">{{ .Title }}</a></h3>
                <p>{{ .Params.Description }}</p>
              </div>
            </article>
          </div>
          {{ else if .Params.Links }}
          <div class="col-lg-6">
            <article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
              <div class="post-img">
                <img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
              </div>
              <div class="post-content">
                <p><h2>{{ .Title }}</h2></p>
                <p>{{ .Params.Description }}</p>
                {{ with .Params.Links }}
                  {{ range . }}
                    {{ $url := (index . "link") }}
                    {{ $name := (index . "name") }}
                    <a href="{{ $url }}">{{ $name }}</a>
                  {{ end }}
                {{ end }}
              </div>
            </article>
          </div>
          {{ else }}
          <div class="col-lg-6">
            <article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
              <div class="post-img">
                <a href="{{ .Permalink }}">
                <img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
                </a>
              </div>
              <div class="post-content">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Params.Description }}</p>
              </div>
            </article>
          </div>
          {{ end }}
          {{ end }}
<!--
          <div class="text-center">
            <a href="{{`post/` | relURL}}" class="btn btn-default">All Post</a>
          </div>
-->
        </div>
      </div>
    </div>
  </div>
</section><!-- #blog close -->
{{end}}