{{ if site.Data.homepage.games.enable}}
<section id="games" {{ if site.Data.homepage.games.overlay }} class="overlay" {{ end }}
  style="background-image: url('{{ site.Data.homepage.games.bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="heading">{{ site.Data.homepage.games.title | markdownify }}</h1>
          {{ $paginator := .Paginate site.RegularPages }}
          {{ range first 4 (where site.RegularPages "Type" "in" "games") }}
          {{ if .Params.Link }}
          <div class="col-lg-6">
            </br>
            <article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
              <div class="post-img">
                <a href="{{ .Params.Link }}">
                  <img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
                </a>
              </div>
              <div class="post-content">
                <h3><a href="{{ .Params.Link }}">{{ .Title }}</a></h3>
                <p>{{ .Params.Description }}</p>
              </div>
            </article>
          </div>
          {{ else }}
          <div class="col-lg-6">
            </br>
            <article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
              <div class="post-img">
                <a href="{{ .Permalink }}">
                <img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
                </a>
              </div>
              <div class="post-content">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Params.Description }}</p>
              </div>
            </article>
          </div>
          {{ end }}
          {{ end }}
<!--
          <div class="text-center">
            <a href="{{`post/` | relURL}}" class="btn btn-default">All Post</a>
          </div>
-->
        </div>
      </div>
    </div>
  </div>
  </br>
</section><!-- #games close -->
{{end}}