.blockquote {
    // background: var(--bs-light);
    border-left: 0.3rem solid;
    border-color: $secondary;
    padding: 1rem 1.5rem;
    margin: 1 0 1rem;

        .p {
            display: inline;
        
            &:first-of-type {
              // Quote symbols
              quotes: '\201C' '\201D' '\2018' '\2019';
        
              &::before {
                content: open-quote;
                margin-right: 0.1rem;
              }
            }
        
            &:last-of-type {
              // Quote symbols
              quotes: '\201C' '\201D' '\2018' '\2019';
              font-style: italic;
        
              &::before {
                // \000A is the unicode new line character
                // \2014 is the unicode em dash character
                content: close-quote "\000A" "\2014" " ";
                white-space: pre;
                margin-left: 0.1rem;
                font-style: normal;
              }
            }
        
            // In case of a quote without a source, with only one p
            &:only-of-type {
              font-style: normal;
              quotes: '\201C' '\201D' '\2018' '\2019';
        
              &::before {
                content: open-quote;
                margin-right: 0.1rem;
              }
        
              &::after {
                content: close-quote;
                margin-left: 0.1rem;
              }
            }
          }
}
