// Placeholder to quickly add your own styles
// The file is included last in the build pipeline
blockquote {
  margin-left: 0rem;
  border-left: 5px solid $secondary;
  padding: 1em 1.5em;
  font-style: italic;
  font-size: 22px;
}
