{{ $demo := .Get "demo" }}
{{ $demo_label := .Get "demo_label" }}
{{ $demo2 := .Get "demo2" }}
{{ $demo2_label := .Get "demo2_label" }}
{{ $store := .Get "store" }}
<br>
<div style="text-align:right;">
    {{- if .Get "demo" -}}
    {{- if .Get "demo_label" -}}
    <a href="{{ $demo }}" class="btn btn-default">🕹️ {{ $demo_label }}</a>
    {{- else }}
    <a href="{{ $demo }}" class="btn btn-default">🕹️ Demo</a>
    {{- end }}
    {{- end }}
    {{- if .Get "demo2" -}}    
    &nbsp;
    {{- if .Get "demo2_label" -}}
    <a href="{{ $demo2 }}" class="btn btn-default">🕹️ {{ $demo2_label }}</a>
    {{- else }}
    <a href="{{ $demo2 }}" class="btn btn-default">🕹️ Demo</a>
    {{- end }}
    {{- end }}
    {{- if .Get "store" -}}    
    &nbsp;&nbsp;&nbsp;
    <a href="{{ $store }}" class="btn btn-default">🛒 Store</a>
    {{- else }}
    <a href="" class="btn bt btn-default">🛒 Store (soon!)</a>
    {{- end }}
</div>
</br>
